{% extends 'Sistema/base.html' %}
{% load static %}

{% block navbar %}
    <p class="text-white px-3 navbar-title"><i class="fas fa-user"></i> Perfil - <small class="text-capitalize">Cambiar Contraseña</small></p>
{% endblock %}

{% block content %}

    <div id="layoutSidenav_content">
        <main id="main" class="cover">
        <div class="card o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="shadow-lg py-2">
                    <div class="px-5">

                        <form class="row g-5 needs-validation" novalidate action="{% url 'cambiar_contraseña' %}" method="POST"> {% csrf_token %}
                            <div class="col-md-12">
                                <div class="form-floating position-relative">
                                    <input id="{{ form.old_password.id_for_label }}" class="form-control" type="password" name="{{ form.old_password.name }}" required="" placeholder="">
                                    <label for="{{ form.old_password.id_for_label }}" class="form-label">{{ form.old_password.label}}</label>

                                    <div class="invalid-tooltip">
                                      Por favor introduzca su contraseña antigua
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-floating position-relative">
                                    <input id="{{ form.new_password1.id_for_label }}" class="form-control" type="password" name="{{ form.new_password1.name }}" required="" placeholder="">
                                    <label for="{{ form.new_password1.id_for_label }}" class="form-label">{{ form.new_password1.label }}</label>
                                    <div class="my-2"> {{form.new_password1.help_text}} </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating position-relative">
                                    <input id="{{ form.new_password2.id_for_label }}" class="form-control" type="password" name="{{ form.new_password2.name }}" required="" placeholder="">
                                    <label for="{{ form.new_password2.id_for_label }}" class="form-label">{{ form.new_password2.label }}</label>

                                    <div class="invalid-tooltip">
                                      Por favor repita la contraseña
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary" type="submit">Cambiar Contraseña &nbsp;<i class="fas fa-key"></i></button>
                            </div>
				        </form>
                    </div>
                </div>
            </div>
        </div>

        </main>
    </div>

{% endblock %}