{% extends 'Sistema/base.html' %}
{% load static %}

{% block navbar %}
    <p class="text-white px-3 navbar-title"><i class="fas fa-user"></i> Administración - <small class="text-capitalize">conocimientos - <small class="text-capitalize">{% block subtitle %}Añadir {% endblock %}</small></small></h1>
{% endblock %}

{% block content %}

    <div id="layoutSidenav_content">
        <main id="main" class="cover">
        <div class="card o-hidden border-0 my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="shadow-lg py-2">
                    <div class="px-5">
                        <form class="row g-5 needs-validation" novalidate action="{% url 'conocimiento_add' %}" method="POST"> {% csrf_token %}
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <textarea id="descripcion" name="{{ form.descripcion.name }}" style="height: 100px" class="form-control" rows="2" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ0-9 ]{1,350}" maxlength="350" required placeholder=""></textarea>
                                    <label for="descripcion" class="control-label">Descripción</label>
                                    <div class="valid-tooltip">
                                      Correcto!
                                    </div>
                                    <div class="invalid-tooltip">
                                      Por favor introduzca una descripción válida
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary" type="submit">Añadir &nbsp;<i class="fas fa-save"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </main>
    </div>

{% endblock %}